@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  overflow-y: hidden;
}

.layout  {
  width: 428px;
  height: 1030px;
  background-color: #181A20;
  
}

.header {
  position: absolute;
  Width: 428px;
  Height: 329px;
  background: url("./img/fp/op.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 95%;
  box-shadow: 0px 4px 100px 100px #00000040 inset;
}

.coffee{
  position: absolute;
  width: 100.51px;
  height: 30px;
  top: 4px;
  right: 5px;
  background: #181A20;
}

.cap {
position: absolute;
width: 338px;
height: 48px;
top: 212px;
left: 16px;
border: 1px;

font-family: Poppins;
font-size: 32px;  
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: #ffffff;
}

.skip {
  position: absolute;
  width: 142px;
  height: 30px;
  top: 260px;
  left: 16px;
  border: 1px;
  
  border: 1px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.toggle {
  position: absolute;
  appearance:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  width: 48px;
  height: 24px;
  top: 296px;
  left: 16px;
  border-radius: 30px;
  background-color: #FFF;
  box-shadow: 0px 0px 5px #666;
  transition: all 0.3s linear;
  outline: none;
  }
  .toggle:before {
  position: absolute;
  background-color: #FFF;
  content: "";
  width: 30px;
  height: 24px;
  border-radius: 200px;
  left: 0;
  box-shadow: 0px 0px 5px #666;
  transition: all 0.2s linear;
  }
  .toggle:checked {
  background-color: #71C639;
  }
  .toggle:checked:before {
  left: 20px !important;
  }


.rate-container{
  position: absolute;
  width: 319px;
  height: 134px;
  top: 357px;
  left: 54px;
  }

.rate-container p {
  width: 319px;
  height: 30px;
  top: 357px;
  left: 54px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  color: #06C149;
  text-align: center;
}

.rate-container .aa{
  position: relative;
  width: 190px;
  height: 72px;
  top: 40px;
  left: 97px;

  gap: 23px;
  align-items: center;

}
.dislike {
  position: relative;
  width: 60px;
  height: 60px;
  transform: rotate(7.41deg);
  /* rotate: 7.41; */
}
.like {
  position: relative;
  width: 60px;
  height: 60px;
  top: -3px;
  left: 3px;
  transform: rotate(-6.18deg);
  /* rotate: -6.18a; */
}

.minute {
  position: absolute;
  width: 396px;
  height: 189px;
  top: 524px;
  left: 16px;
  border-radius: 12px;
  gap: 16px;
  background: #0D1015;
  box-shadow: 0px 4px 10px 0px #37383C29;
  /* box-shadow: 0px 0px 2px 0px #37383C7A; */
}

.minute p {
  position: absolute;
  width: 236px;
  height: 16px;
  top: 32px;
  left: 32px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #FFFFFF40;
}

.minute p2 {
  position: absolute;
  width: 332px;
  height: 56px;
  top: 64px;
  left: 32px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #FFFFFF;
}

.timein {
  position: absolute;
  width: 147px;
  height: 36px;
  top: 136px;
  left: 36px;
  border-radius: 7px;
  background: #37383C29;
  color: #525254;
  text-decoration: none;
  border: none;
}

.submit {
  position: absolute;
  width: 92px;
  height: 36px;
  top: 136px;
  left: 230px;
  border-radius: 7px;
  background: #37383C29;
  color: white;
  text-decoration: none;
  border: none;
  background-image: url("./img/Icons/arrow\ left.svg");
  background-position: center right;
  background-repeat: no-repeat;
}

.footer{
  position: absolute;
  width: 400px;
  top: 756px;
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 0 16px;
}

.wrapper{
  max-width: 400px;
}

.wrapper h2{
  
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.wrapper a {
  position: relative;
  align-items: right;
  top: -20px;
  left: 368px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #06C149;
  text-decoration: none;
}

.wrapper .karrusel{
  white-space: nowrap;
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
}

.karrusel img{
  height:189px;
  width: 131px;
  object-fit: cover;
  margin-left: 14px;
  pointer-events: none;
  border-radius: 8%;
}

.karrusel img:first-child{
  margin-left: 0px;

}
