@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  overflow-y: hidden;
  user-select: none;
}

.layout  {
  width: 428px;
  height: 1030px;
  background-color: #181A20;
  
}

.header {
  position: absolute;
  Width: 428px;
  Height: 329px;
  opacity: 95%;
  box-shadow: inset 0px 4px 100px 100px rgba(0, 0, 0, 0.40);

}

.donate-icon{
  position: absolute;
  width: 100.51px;
  height: 30px;
  top: 4px;
  right: 5px;
  /*background: #181A20;*/
  border-radius: 30px;

  /* ELIMINAR DESPUES */
  pointer-events: none;
  font-family: Poppins;
  font-size: 15px;  
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-align: center;
  padding-bottom: 20px;
}

.anime-title {
position: absolute;
width: 428px;
height: 48px;
top: 212px;
left: 16px;
border: 1px;

font-family: Poppins;
text-transform: capitalize;
font-size: 32px;  
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: #ffffff;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
-webkit-text-stroke: 0.2px black;

}

.skip-fill {
  position: absolute;
  width: 142px;
  height: 30px;
  top: 260px;
  left: 16px;
  border: 1px;
  
  border: 1px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
-webkit-text-stroke: 0.2px black;
}

.toggle {
  position: absolute;
  appearance:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  width: 48px;
  height: 24px;
  top: 296px;
  left: 16px;
  border-radius: 30px;
  background-color: #FFF;
  box-shadow: 0px 0px 5px #666;
  transition: all 0.3s linear;
  outline: none;
  }
  .toggle:before {
  position: absolute;
  background-color: #FFF;
  content: "";
  width: 30px;
  height: 24px;
  border-radius: 200px;
  left: 0;
  box-shadow: 0px 0px 5px #666;
  transition: all 0.2s linear;
  }
  .toggle:checked {
  background-color: #71C639;
  }
  .toggle:checked:before {
  left: 20px !important;
  }


.rate-container{
  position: absolute;
  width: 319px;
  height: 134px;
  top: 357px;
  left: 54px;
  opacity: 0.2;
  }

.rate-container p {
  width: 319px;
  height: 30px;
  top: 357px;
  left: 54px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  color: #06C149;
  text-align: center;
}

.rate-container .rate-buttons{
  position: relative;
  width: 190px;
  height: 72px;
  top: 40px;
  left: 97px;

  gap: 23px;
  align-items: center;

}
.dislike-icon {
  position: relative;
  width: 60px;
  height: 60px;
  transform: rotate(7.41deg);
  /* rotate: 7.41; */
}
.like-icon {
  position: relative;
  width: 60px;
  height: 60px;
  top: -3px;
  left: 3px;
  transform: rotate(-6.18deg);
  /* rotate: -6.18a; */
}

.filler-contribution-time {
  position: absolute;
  width: 396px;
  height: 189px;
  top: 524px;
  left: 16px;
  border-radius: 12px;
  gap: 16px;
  background: #0D1015;
  box-shadow: 0px 4px 10px 0px #37383C29;
  /* ELIMINAR DEPUES */
  opacity: 0.2;
  z-index: 1;
  pointer-events: none;
}

  /* ELIMINAR DEPUES */
.coming-soon {
  position: absolute;
  top: 590px; /* Ajusta según sea necesario */
  left: 20px; /* Ajusta según sea necesario */
  color: white;
  font-size: 25px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  padding: 10px;
  border-radius: 8px;
  transform: rotate(-20deg); /* Rota el texto en diagonal */
  z-index: 2; /* Asegúrate de que esté por encima del otro contenido */
}



.filler-contribution-time p {
  position: absolute;
  width: 236px;
  height: 16px;
  top: 32px;
  left: 32px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #FFFFFF40;
}

.filler-contribution-time p2 {
  position: absolute;
  width: 332px;
  height: 56px;
  top: 64px;
  left: 32px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #FFFFFF;
}

.timein {
  position: absolute;
  width: 147px;
  height: 36px;
  top: 136px;
  left: 36px;
  border-radius: 7px;
  background: #37383C29;
  color: #525254;
  text-decoration: none;
  border: none;
}

.submit {
  position: absolute;
  width: 92px;
  height: 36px;
  top: 136px;
  left: 230px;
  border-radius: 7px;
  background: #37383C29;
  color: white;
  text-decoration: none;
  border: none;
  background-image: url("../images/Icons/arrow\ left.svg");
  background-position: center right;
  background-repeat: no-repeat;
}

.anime-list-container{
  position: absolute;
  width: 400px;
  top: 756px;
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 0 16px;
}

.wrapper{
  max-width: 400px;
}

.wrapper h2{
  
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.wrapper a {
  position: relative;
  align-items: right;
  top: -20px;
  left: 368px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #06C149;
  text-decoration: none;
}

.wrapper .carousel{
  white-space: nowrap;
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
}

.carousel img{
  height:189px;
  width: 131px;
  object-fit: cover;
  margin-left: 14px;
  pointer-events: none;
  border-radius: 8%;
}

.carousel img:first-child{
  margin-left: 0px;

}
